@import "tailwindcss";

.container {
  max-width: 2000px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(30, 144, 255, 0.1);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #5f6d7a;
  border-radius: 8px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4682b4;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4f5b68 rgba(30, 144, 255, 0.1);
}